@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}

/* ###########################   Utilities ########################### */

.d-flex-row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center{
    align-items: center;
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.px-20{
    padding-left: 20px;
    padding-right: 20px;
}

.pb-60{
    padding-bottom: 60px;
}
.btn-main{
    border-radius: 5px;
    padding: 20px 50px;
    background-color: #eb7d4b;
    color: #ffffff;
    border-bottom: 3px solid #b9666e;
}

.btn-main2{
    border-radius: 5px;
    padding: 20px 50px;
    background-color: #30bae7;
    color: #ffffff;
    border-bottom: 3px solid #348cc2;
}

/* hr{
    width: 40px;
    color: ;
} */

.width50{
    width: 50%;
    height: auto;
}

/* ###########################   Nav bar Styling ########################### */

.header-container{
    width: 100%;
    height: 60vh;
    align-items: center;
    background-color: #87509c;
    color: #ffffff;
    padding: 0 20px;
}

.nav-container{
    width: 100%;
    height: auto; 
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header nav input[type=checkbox], .hamburger-container{
    display: none;
}

header nav, header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

header nav ul li {
    padding: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.main-logo{
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;

}

/* ###########################   Header section ########################### */

.heading-container{
    width: 100%;
    height: 100%;
}

.heading-container h1{
    text-align: center;
    padding: 0 0 65px 0;
}

/* ############################    Main section ############################# */


/* Section1 */

.main1-container {
    background-color: #17c2a4;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
}

.main1-container h2 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.main1-container p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: normal;
}

/* section 2 */

.main2-container {
    background-color: #e7f1f8;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #282728;
}

.main2-container h2 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.main2-container p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: normal;
}

/* Section 3 */

.main3-container {
    background-color: #ffffff;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #282728;
}

.main3-container h2 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.main3-container p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: normal;
}

/* Section 4 */

.main4-container {
    background-color: #ffdd99;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #282728;
}

.main4-container ul li a{
    color: #282728;

}

.main4-container h2 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.main4-container p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: normal;
}

/* section 5 */

.main5-container {
    background-color: #d74680;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
}

.main5-container ul li a{
    color: #ffffff;

}

.main5-container h2 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.main5-container p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: normal;
}

/* section 6 */

.main6-container {
   
    background-color: #3c5499;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
}

.btn-main2 a{
    color: #ffffff;
}

.key input{
    width: 50%;
    padding: 20px;
    background-color: #273a71;
    color: #ffffff;
}

.main6-container div textarea{
    width: 100%;
    height: 30vh;
}
/* ############################ Footer ############################# */

footer {
    background-color: #344b8e;
    padding: 20px 0;
}

footer section div h3 a, footer section div h3{
    color: #ffffff;
    padding: 0 5px;
}
/* Media Query Desktop version  */

@media only screen and (min-width: 992px) {

    /* ###########################   Utilities ########################### */

    .d-flex-row-D{
        display: flex;
        flex-direction: row;
    }

    .d-flex-column-D{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .width80-D{
        width: 80%;
        height: auto;
    }

    .width60-D{
        width: 60%;
        height: auto;
    }

    /* ############################    Nav section ############################# */

   
}