@mixin h2-text() {
    font-size: 30px;
    font-weight: 36px;
    text-align: center;
    padding: 0 0 30px 0;
}

@mixin p-text() {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: normal;
}