@import './mixin';
@import './variables';


.white-text {
    @include p-text();
    color: $white-font;
}

.white-text h2 {
    @include h2-text();
    padding: 0 0 65px 0;
    color: $white-font;
}

.dark-text {
    @include p-text();
    color: $dark-font;
}

.dark-text h2{
    @include h2-text();
    padding: 0 0 65px 0;
    color: $dark-font;
}
